.footer {
    padding-top: 40px;
    background-color: black;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.footer-icon {
    font-size: 36px;
}

.footer-title {
    color: #008CA5;;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    padding: 42px 0;
}